<div class="column is-one-quarter mt-6">
    <nav class="panel">
        <p class="panel-heading has-background-primary-light">
         Log in to post your secrets
        </p>
        <p class="panel-heading has-background-dark-light">
         Hover below the panel to get to know about clubhouse
        </p>
        <a class="panel-block">
        <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <span class="px-5">Info 
            <span class="icon is-medium">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
            </span>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content  has-background-danger-light">
            <div class="dropdown-item">
                <p>This application is creatd to share one's secrets or any other messages that makes them feel low.</p>
            </div>
            </div>
        </div>
        </div>
        </a>
        <a class="panel-block">
        <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <span>How Clubhouse works? 
           
             </span>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
            <div class="dropdown-item  has-background-danger-light">
                <p>The clubhouse do not reveal the username of the post to others unless they are signed up or logged in.<br><br>
                The home screen simply displays the post and users as anonymous.<br><br>
                Once the user in logged in or or signed up ,they enable to see the post and its username.</p>
            </div>
            </div>
        </div>
        </div>
        </a>
         <a class="panel-block">
        <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <span class="px-5">How to post?
            <span class="icon is-medium">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
            </span>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
            <div class="dropdown-item  has-background-danger-light">
                <p>To post the messages or your secrets, you must register or log in the application.<br><br>
                The user is allowed to edit the post or even delete it if necessary.</p>
            </div>
            </div>
        </div>
        </div>
        </a>
        <a class="panel-block">
        <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <span class="px-5">About the post
            <span class="icon is-medium">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
            </span>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content  has-background-danger-light">
            <div class="dropdown-item">
                <p>The post is displayed to all users and display the username depending on whether the user is logged in or not.<br><br>
                The users are allowed to delete the post and edit of their own but does not able to delete the posts of others. </p>
            </div>
            </div>
        </div>
        </div>
        </a>
        <a class="panel-block">
        <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <span class="px-5">Profile
            <span class="icon is-medium">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
            </span>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
            <div class="dropdown-item  has-background-danger-light">
                <p>The profile section of the user shall be displayed once logged in. <br><br>
                The profile section contains information like name and username of the user and number of posts he posted in platform and also the dispaly picture of the user.</p>
            </div>
            </div>
        </div>
        </div>
        </a>


    </nav>
</div>