<div class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title">Editing Secret</h1>
        <%= render 'form', post: @post %>
         <p class="control mt-3">
          <%= link_to 'Cancel', posts_path, class:"button is-dark" %>
        </p>
      </div>
    </div>
       
  </div>
</div>

